<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">
      
      <head>
        <title>Password - New</title>
    </head>
    <body>
        
    	<div layout:fragment="content">
	        
              <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Create New Password</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <form role="form" th:action="@{/password/{id}(id=${password.id})}" th:object="${password}" method="post" enctype="multipart/form-data">
                    <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Incorrect data</p>
                    <!-- text input -->
                    <div class="form-group" th:classappend="${#fields.hasErrors('passwordEnkrip')}? 'has-error'">
                      <label>Password Enkrip</label>
                      <input type="password" class="form-control" name="passwordEnkrip" th:field="*{passwordEnkrip}" th:object="${password}"/>
                      <p th:if="${#fields.hasErrors('passwordEnkrip')}" th:errors="*{passwordEnkrip}" th:class="text-red">Incorrect data</p>
                    </div> 
                    <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('bulan')}? 'has-error'" th:object="${password}">
                       <label>Pegawai</label>
                       <div>
                          <select  class="form-control" th:field="*{bulan}" name="bulan" th:object="${password}" >
                          	<option th:value="${password.bulan}" 
                                    th:text="${password.bulan}">Category</option>
                             <option value="01">januari</option>
                             <option value="02">februari</option>
                             <option value="03">maret</option>
                             <option value="04">april</option>
                             <option value="05">mei</option>
                             <option value="06">juni</option>
                             <option value="07">juli</option>
                             <option value="08">agustus</option>
                             <option value="09">september</option>
                             <option value="10">oktober</option>
                             <option value="11">november</option>
                             <option value="12">desember</option>                             
                          </select>
                          <p th:if="${#fields.hasErrors('bulan')}" th:errors="*{bulan}" th:class="text-red">Incorrect data</p>
                       </div>
                    </div>
                    <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('tahun')}? 'has-error'" th:object="${password}">
                           <label>Pegawai</label>
                           <div>
                              <select class="form-control" th:field="*{tahun}" name="tahun" >
                              <option th:value="${password.tahun}" 
                                    th:text="${password.tahun}">Category</option>
                                 <option value="2018">2018</option>
                                 <option value="2019">2019</option>
                                 <option value="2020">2020</option>
                                 <option value="2021">2021</option>
                                 <option value="2022">2022</option>
                                 
                                 
                              </select>
                              <p th:if="${#fields.hasErrors('tahun')}" th:errors="*{tahun}" th:class="text-red">Incorrect data</p>
                           </div>
                        </div>
                   	<div class="box-footer">
	                    <button type="submit" class="btn btn-primary">Submit</button>
	                    
	                </div>
                  </form>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
    	</div>
    	
    </body>
    
</html>