<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout/mainLayout">

<head>
<title>Gaji</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
         $(document).ready(function() {
        	 $(".cari").on('click',function(event){
    		    	$.ajax({
    			        type:"GET",
    			        url : "/getData",
    			        data : {password:$('#password').val()},
    			        success : function(data) {
    			        	 console.log('my message' + data);
    			        	alert("Data Will be changes");
    			        	$("#example2").html(data);
    			        	$("#example2").DataTable({
    			        		extend: 'csvHtml5',
    			             	text: 'Copy all data',
    			             	exportOptions: {
    			                 	modifier: {
    			                    	 search: 'none'
    			                 	}
    			             }
    			        	});
    			        },
    			        
    			        error: function() {
    			            alert('Error occured');
    			        }
    			    });
    		    });
    	             
         });
</script>
</head>
<body>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">List of Gaji Pegawai</h3>
						<div class="box-tools">
							<div class="input-group" style="width: 180px;">
								<a class="btn btn-sm btn-default" th:href="@{/trx/new}"><i
									class="fa fa-plus-circle"></i> Entry Gaji Pegawai</a>
							</div>
						</div>
					</div>
					<!-- /.box-header -->
					
					<div class="box-body table-responsive no-padding">
					<div class="box-body">
						<input type="password" class="form-group col-md-4" id="password" name="password"  />
						<div class="box-tools">
							<div class="input-group">
								<a class="btn btn-sm btn-default cari"  style="margin-left:5px"><i
									class="fa fa-plus-circle" style="margin-right:2px"></i>Dekrip</a>
							</div>
						</div>
					</div>
					<div  id="dvData" th:fragment="resultsList">
						<table id="example2" class="table table-hover">
							<tr>
								<th style="width: 10px">No.</th>
								<th>No Gaji</th>
								<th>Nip</th>
								<th>Nama Pegawai</th>
								<th>Nomor Rekerning</th>
								<th>Date</th>
								<th>Gaji Kotor</th>
								<th>Gaji Bersih</th>
								<th>Potongan</th>
								<th>pph21</th>
								<th>Action</th>
							</tr>
							<tr id="coba" th:each="gaji,iterStat : ${gaji}">
								<td th:text="${iterStat.count}">1</td>
								<td th:text="${gaji.noGaji}"></td>
								<td th:text="${gaji.pegawai.nip}" id="pegawaiID"></td>
								<td th:text="${gaji.pegawai.nama_pegawai}" id="nama"></td>
								<td th:text="${gaji.pegawai.nomor_rekening}" id="rekening"></td>
								<td th:text="${#dates.format(gaji.tanggal, 'yyyy-MM-dd')}"></td>
								<td th:text="${T(org.apache.commons.lang3.StringUtils).isNumeric(gaji.gajiKotor)} == true ? ${#numbers.formatDecimal(gaji.gajiKotor,3,'POINT',2,'COMMA')} : ${gaji.gajiKotor}"></td>
								<td th:text="${T(org.apache.commons.lang3.StringUtils).isNumeric(gaji.gajiBersih)} == true ? ${#numbers.formatDecimal(gaji.gajiBersih,3,'POINT',2,'COMMA')} : ${gaji.gajiBersih}"></td>
								<td th:text="${T(org.apache.commons.lang3.StringUtils).isNumeric(gaji.jumlahPotongan)}  == true ? ${#numbers.formatDecimal(gaji.jumlahPotongan,3,'POINT',2,'COMMA')} : ${gaji.jumlahPotongan}"></td>
								<td th:text="${gaji.pph21} + ' %'"> </td>
								<td><a th:href="@{/pdf/{noGaji}(noGaji=${gaji.noGaji})}"
									class="btn btn-sm btn-default"><i class="fa fa-download"></i>
										Download</a></td>
							</tr>

						</table>
					</div>
					</div>

				</div>
			</div>
		</div>

	</div>

</body>

</html>