<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout/mainLayout">

<head>
<title>Bank</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">List of Bank</h3>
						<div class="box-tools">
							<div class="input-group" style="width: 150px;">
								<a class="btn btn-sm btn-default" th:href="@{/bank/new}"><i
									class="fa fa-plus-circle"></i> New Bank</a>
							</div>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th style="width: 10px">No.</th>
								<th>Id Bank</th>
								<th>Nama Bank</th>
								<th>Alamat</th>
								<th>Edit</th>
							</tr>
							<tr th:each="bank,iterStat : ${bank}">
								<td th:text="${iterStat.count}">1</td>
								<td th:text="${bank.id_bank}"></td>
								<td th:text="${bank.nama_bank}"></td>
								<td th:text="${bank.alamat_bank}"></td>
								<td><a th:href="@{/bank/{id_bank}(id_bank=${bank.id_bank})}"
									class="btn btn-sm btn-default"><i class="fa fa-edit"></i>
										Edit</a> <a th:href="@{/bankDelete/{id_bank}(id_bank=${bank.id_bank})}"
									class="btn btn-sm btn-default"><i class="fa fa-delete"></i>
										Delete</a></td>
							</tr>

						</table>
					</div>

				</div>
			</div>
		</div>

	</div>

</body>

</html>